
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Demo of Excellent. Upload and Read Contents of Any Excel File.">
    <meta name="author" content="Sajjad Arif Gul">
    <title>Excellent - Upload and Read Contents of Any Excel File</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-column h-100">
    <div class="bg-light py-4">
        <div class="pricing-header mx-auto text-center">
            <h1 class="display-4">Excel.lent</h1>
            <p class="lead">
                Upload any Excel file and enter the sheet name from Excel file. The project will display its content in a nice table below.
            </p>
            <small class="text-danger">Only supports Excel files with xlx and xlsx extensions.</small>
        </div>
    </div>

    <div class="container py-4">
        @RenderBody()
    </div>

    <footer class="mt-auto py-5 text-muted text-center text-small bg-light">
        <p class="mb-1">© @DateTime.Now.Year Excellent by <a href="http://www.sajjadgul.com/" target="_blank">Sajjad Arif Gul</a>. Get <a href="https://github.com/SajjadArifGul/Excellent" target="_blank">Source Code</a>.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
